html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn {
  vertical-align: inherit;
}

.navbar .container {
  width: auto
}

.paragraph {
  margin: 5px;
}

.table {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

tr td {
  vertical-align: middle;
}

.separator {
  height: 100px;
}

.separator:first-child {
  display: none;
}

.separator img {
  filter: grayscale(1);
  width: 32px;
  height: 32px;
}

.title {
  font-weight: bold;
  font-size: 14px;
}

.host {
  font-weight: bold;
}

.api {
  color: #646464;
  font-weight: bold;
}

.service {
  color: #646464;
}

tr td:nth-child(2) {
  text-align: left;
}

tr td:nth-child(4) {
  min-width: 91px;
}

td img {
  max-width: 48px;
  max-height: 48px;
}